/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
}
/*CSS variable*/
:root{
    --navbar-height: 59px;
}

/*Navigation bar*/

#navbar{
    /* display: flex;
    align-items: center; */
    position: relative;
}

#navbar ul{
    display: flex;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a :hover{
    color: black;
    background-color: white;
}

